<form #etatForm="ngForm">
    <ul>
        <li>Nom : <input #champNom="ngModel" type="text" name ="nom" [(ngModel)]="collegueCree.nom" required></li>
        <div *ngIf="champNom.dirty && champNom.invalid">
            Le nom est obligatoire.
        </div>
        
        <li>Prenom : <input type="text" name="prenom" [(ngModel)]="collegueCree.prenoms" required></li>
        <li>Date de naissance : <input type="text" name="dateNaissance" [(ngModel)]="dateString" required></li> 
        <li>Email: <input type="text" name="email" [(ngModel)]="collegueCree.email" required></li> 
        <li>Photo URL : <input #champPhoto="ngModel" type="text" name="photoUrl" [(ngModel)]="collegueCree.photoUrl" required minlength="7"></li>
        <div *ngIf="champPhoto.dirty && champPhoto.invalid">
            La photo est obligatoire.
        </div>
    </ul>

    <div *ngIf="etatForm.dirty && etatForm.invalid">
        Le formulaire est invalide.
    </div>

    <button (click)="valider()">Valider</button>
  
</form>