<nav class="navbar navbar-expand-lg navbar-light bg-color-blue">

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/accueil"><h6>Accueil</h6></a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/gallerie"><h6>Gallerie</h6></a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/apropos"><h6>A propos</h6></a>
        </li>
      </ul>
    </div>
  </nav>
  